.completed-list {
  width: 100%;
  max-width: 100%;
  height: 320px;            /* same fixed height */
  overflow-y: auto;
  padding: 20px;
  margin: 30px auto;
  border: 2px solid black;
  background-color: rgb(81, 216, 79);
  border-radius: 12px;
  box-sizing: border-box;
}


.completed-list::-webkit-scrollbar {
  width: 8px;
}




h2{
    text-align: center;
    color: black;
}

